In [1]:
# Install Java and PySpark
!apt-get install openjdk-11-jdk -y
!pip install pyspark

Reading package lists... Done
Building dependency tree... Done
Reading state information... Done
The following additional packages will be installed:
  fonts-dejavu-core fonts-dejavu-extra libatk-wrapper-java
  libatk-wrapper-java-jni libxt-dev libxtst6 libxxf86dga1 openjdk-11-jre
  x11-utils
Suggested packages:
  libxt-doc openjdk-11-demo openjdk-11-source visualvm mesa-utils
The following NEW packages will be installed:
  fonts-dejavu-core fonts-dejavu-extra libatk-wrapper-java
  libatk-wrapper-java-jni libxt-dev libxtst6 libxxf86dga1 openjdk-11-jdk
  openjdk-11-jre x11-utils
0 upgraded, 10 newly installed, 0 to remove and 35 not upgraded.
Need to get 6,920 kB of archives.
After this operation, 16.9 MB of additional disk space will be used.
Get:1 http://archive.ubuntu.com/ubuntu jammy/main amd64 fonts-dejavu-core all 2.37-2build1 [1,041 kB]
Get:2 http://archive.ubuntu.com/ubuntu jammy/main amd64 fonts-dejavu-extra all 2.37-2build1 [2,041 kB]
Get:3 http://archive.ubuntu.com/ubuntu jammy/main amd64 libxtst6 amd64 2:1.2.3-1build4 [13.4 kB]
Get:4 http://archive.ubuntu.com/ubuntu jammy/main amd64 libxxf86dga1 amd64 2:1.1.5-0ubuntu3 [12.6 kB]
Get:5 http://archive.ubuntu.com/ubuntu jammy/main amd64 x11-utils amd64 7.7+5build2 [206 kB]
Get:6 http://archive.ubuntu.com/ubuntu jammy/main amd64 libatk-wrapper-java all 0.38.0-5build1 [53.1 kB]
Get:7 http://archive.ubuntu.com/ubuntu jammy/main amd64 libatk-wrapper-java-jni amd64 0.38.0-5build1 [49.0 kB]
Get:8 http://archive.ubuntu.com/ubuntu jammy/main amd64 libxt-dev amd64 1:1.2.1-1 [396 kB]
Get:9 http://archive.ubuntu.com/ubuntu jammy-updates/main amd64 openjdk-11-jre amd64 11.0.27+6~us1-0ubuntu1~22.04 [214 kB]
Get:10 http://archive.ubuntu.com/ubuntu jammy-updates/main amd64 openjdk-11-jdk amd64 11.0.27+6~us1-0ubuntu1~22.04 [2,895 kB]
Fetched 6,920 kB in 1s (5,080 kB/s)
Selecting previously unselected package fonts-dejavu-core.
(Reading database ... 126109 files and directories currently installed.)
Preparing to unpack .../0-fonts-dejavu-core_2.37-2build1_all.deb ...
Unpacking fonts-dejavu-core (2.37-2build1) ...
Selecting previously unselected package fonts-dejavu-extra.
Preparing to unpack .../1-fonts-dejavu-extra_2.37-2build1_all.deb ...
Unpacking fonts-dejavu-extra (2.37-2build1) ...
Selecting previously unselected package libxtst6:amd64.
Preparing to unpack .../2-libxtst6_2%3a1.2.3-1build4_amd64.deb ...
Unpacking libxtst6:amd64 (2:1.2.3-1build4) ...
Selecting previously unselected package libxxf86dga1:amd64.
Preparing to unpack .../3-libxxf86dga1_2%3a1.1.5-0ubuntu3_amd64.deb ...
Unpacking libxxf86dga1:amd64 (2:1.1.5-0ubuntu3) ...
Selecting previously unselected package x11-utils.
Preparing to unpack .../4-x11-utils_7.7+5build2_amd64.deb ...
Unpacking x11-utils (7.7+5build2) ...
Selecting previously unselected package libatk-wrapper-java.
Preparing to unpack .../5-libatk-wrapper-java_0.38.0-5build1_all.deb ...
Unpacking libatk-wrapper-java (0.38.0-5build1) ...
Selecting previously unselected package libatk-wrapper-java-jni:amd64.
Preparing to unpack .../6-libatk-wrapper-java-jni_0.38.0-5build1_amd64.deb ...
Unpacking libatk-wrapper-java-jni:amd64 (0.38.0-5build1) ...
Selecting previously unselected package libxt-dev:amd64.
Preparing to unpack .../7-libxt-dev_1%3a1.2.1-1_amd64.deb ...
Unpacking libxt-dev:amd64 (1:1.2.1-1) ...
Selecting previously unselected package openjdk-11-jre:amd64.
Preparing to unpack .../8-openjdk-11-jre_11.0.27+6~us1-0ubuntu1~22.04_amd64.deb ...
Unpacking openjdk-11-jre:amd64 (11.0.27+6~us1-0ubuntu1~22.04) ...
Selecting previously unselected package openjdk-11-jdk:amd64.
Preparing to unpack .../9-openjdk-11-jdk_11.0.27+6~us1-0ubuntu1~22.04_amd64.deb ...
Unpacking openjdk-11-jdk:amd64 (11.0.27+6~us1-0ubuntu1~22.04) ...
Setting up libxtst6:amd64 (2:1.2.3-1build4) ...
Setting up libxxf86dga1:amd64 (2:1.1.5-0ubuntu3) ...
Setting up openjdk-11-jre:amd64 (11.0.27+6~us1-0ubuntu1~22.04) ...
Setting up libxt-dev:amd64 (1:1.2.1-1) ...
Setting up fonts-dejavu-core (2.37-2build1) ...
Setting up fonts-dejavu-extra (2.37-2build1) ...
Setting up x11-utils (7.7+5build2) ...
Setting up openjdk-11-jdk:amd64 (11.0.27+6~us1-0ubuntu1~22.04) ...
update-alternatives: using /usr/lib/jvm/java-11-openjdk-amd64/bin/jconsole to provide /usr/bin/jconsole (jconsole) in auto mode
Setting up libatk-wrapper-java (0.38.0-5build1) ...
Setting up libatk-wrapper-java-jni:amd64 (0.38.0-5build1) ...
Processing triggers for fontconfig (2.13.1-4.2ubuntu5) ...
Processing triggers for hicolor-icon-theme (0.17-2) ...
Processing triggers for libc-bin (2.35-0ubuntu3.8) ...
/sbin/ldconfig.real: /usr/local/lib/libtbbmalloc_proxy.so.2 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libtcm.so.1 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libtbbmalloc.so.2 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libtbbbind.so.3 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libtcm_debug.so.1 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libumf.so.0 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libur_adapter_level_zero.so.0 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libhwloc.so.15 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libur_loader.so.0 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libur_adapter_opencl.so.0 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libtbbbind_2_0.so.3 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libtbbbind_2_5.so.3 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libtbb.so.12 is not a symbolic link

Processing triggers for man-db (2.10.2-1) ...
Processing triggers for mailcap (3.70+nmu1ubuntu1) ...
Requirement already satisfied: pyspark in /usr/local/lib/python3.11/dist-packages (3.5.1)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.11/dist-packages (from pyspark) (0.10.9.7)

In [2]:
# Set Java environment path
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-11-openjdk-amd64"

In [3]:
# Start Spark Session
from pyspark.sql import SparkSession

try:
    spark.stop()
except:
    pass

spark = SparkSession.builder.appName("BigDataAnalysis").getOrCreate()
print("Spark Session Started")

Spark Session Started

In [4]:
# Import required libraries
import pandas as pd
df = pd.read_csv('/content/train.csv')

In [5]:
# Read the file in spark
df = spark.read.csv("train.csv", header=True, inferSchema=True)

# Show schema and first few rows
df.printSchema()
df.show(5)

root
 |-- id: string (nullable = true)
 |-- vendor_id: integer (nullable = true)
 |-- pickup_datetime: timestamp (nullable = true)
 |-- dropoff_datetime: timestamp (nullable = true)
 |-- passenger_count: integer (nullable = true)
 |-- pickup_longitude: double (nullable = true)
 |-- pickup_latitude: double (nullable = true)
 |-- dropoff_longitude: double (nullable = true)
 |-- dropoff_latitude: double (nullable = true)
 |-- store_and_fwd_flag: string (nullable = true)
 |-- trip_duration: integer (nullable = true)

+---------+---------+-------------------+-------------------+---------------+------------------+------------------+------------------+------------------+------------------+-------------+
|       id|vendor_id|    pickup_datetime|   dropoff_datetime|passenger_count|  pickup_longitude|   pickup_latitude| dropoff_longitude|  dropoff_latitude|store_and_fwd_flag|trip_duration|
+---------+---------+-------------------+-------------------+---------------+------------------+------------------+------------------+------------------+------------------+-------------+
|id2875421|        2|2016-03-14 17:24:55|2016-03-14 17:32:30|              1| -73.9821548461914| 40.76793670654297|-73.96463012695312|40.765602111816406|                 N|          455|
|id2377394|        1|2016-06-12 00:43:35|2016-06-12 00:54:38|              1|-73.98041534423828|40.738563537597656|-73.99948120117188| 40.73115158081055|                 N|          663|
|id3858529|        2|2016-01-19 11:35:24|2016-01-19 12:10:48|              1| -73.9790267944336|40.763938903808594|-74.00533294677734|40.710086822509766|                 N|         2124|
|id3504673|        2|2016-04-06 19:32:31|2016-04-06 19:39:40|              1|-74.01004028320312|   40.719970703125|-74.01226806640625| 40.70671844482422|                 N|          429|
|id2181028|        2|2016-03-26 13:30:55|2016-03-26 13:38:10|              1|-73.97305297851562|40.793209075927734| -73.9729232788086| 40.78252029418945|                 N|          435|
+---------+---------+-------------------+-------------------+---------------+------------------+------------------+------------------+------------------+------------------+-------------+
only showing top 5 rows

In [6]:
# Row and column count
print(f"Rows: {df.count()}, Columns: {len(df.columns)}")

# Summary statistics
df.describe().show()

Rows: 38123, Columns: 11
+-------+---------+-------------------+------------------+-------------------+--------------------+--------------------+-------------------+------------------+-----------------+
|summary|       id|          vendor_id|   passenger_count|   pickup_longitude|     pickup_latitude|   dropoff_longitude|   dropoff_latitude|store_and_fwd_flag|    trip_duration|
+-------+---------+-------------------+------------------+-------------------+--------------------+--------------------+-------------------+------------------+-----------------+
|  count|    38123|              38123|             38123|              38123|               38123|               38123|              38123|             38123|            38123|
|   mean|     NULL| 1.5303097867429112|1.6676022348713375| -73.97341264974338|  40.751318771554025|  -73.97319497695153|   40.7520642510348|              NULL|937.6292526821079|
| stddev|     NULL|0.49908701708437225|1.3187681581368045|0.03786111765762147|0.027902070000278625|0.037003915347893566|0.03267616196327563|              NULL|3012.622822605454|
|    min|id0000174|                  1|                 1|  -74.3470687866211|  40.586265563964844|  -74.37963104248047|  40.55632400512695|                 N|                1|
|    max|id3999982|                  2|                 6| -73.51805114746094|   41.09117126464844|  -72.71139526367188| 41.311519622802734|                 Y|            86357|
+-------+---------+-------------------+------------------+-------------------+--------------------+--------------------+-------------------+------------------+-----------------+

In [7]:
# Drop rows with nulls
df_clean = df.dropna()
print(f"After cleaning: {df_clean.count()} rows")

After cleaning: 38123 rows

In [8]:
# Most frequent passager count
df.groupBy("passenger_count").count().orderBy("count", ascending=False).show()

+---------------+-----+
|passenger_count|count|
+---------------+-----+
|              1|27008|
|              2| 5477|
|              5| 2031|
|              3| 1541|
|              6| 1285|
|              4|  781|
+---------------+-----+

In [9]:
# Average trip duration
from pyspark.sql.functions import avg, round
df.select(round(avg("trip_duration"), 2).alias("Avg_Trip_Duration_Seconds")).show()

+-------------------------+
|Avg_Trip_Duration_Seconds|
+-------------------------+
|                   937.63|
+-------------------------+

In [10]:
# Top 5 longest trips
df.orderBy(df["trip_duration"].desc()).select("id", "trip_duration", "pickup_datetime", "dropoff_datetime").show(5)

+---------+-------------+-------------------+-------------------+
|       id|trip_duration|    pickup_datetime|   dropoff_datetime|
+---------+-------------+-------------------+-------------------+
|id0067152|        86357|2016-02-27 21:04:05|2016-02-28 21:03:22|
|id3431345|        86352|2016-06-07 12:58:48|2016-06-08 12:58:00|
|id1428140|        86345|2016-03-04 08:15:24|2016-03-05 08:14:29|
|id3244242|        86343|2016-06-03 17:14:02|2016-06-04 17:13:05|
|id0222074|        86315|2016-06-26 11:55:51|2016-06-27 11:54:26|
+---------+-------------+-------------------+-------------------+
only showing top 5 rows

In [11]:
# Number of Trips per day
from pyspark.sql.functions import to_date
df.withColumn("pickup_date", to_date("pickup_datetime")) \
  .groupBy("pickup_date") \
  .count() \
  .orderBy("pickup_date") \
  .show()

+-----------+-----+
|pickup_date|count|
+-----------+-----+
| 2016-01-01|  183|
| 2016-01-02|  164|
| 2016-01-03|  169|
| 2016-01-04|  173|
| 2016-01-05|  172|
| 2016-01-06|  189|
| 2016-01-07|  201|
| 2016-01-08|  241|
| 2016-01-09|  234|
| 2016-01-10|  208|
| 2016-01-11|  194|
| 2016-01-12|  204|
| 2016-01-13|  216|
| 2016-01-14|  223|
| 2016-01-15|  209|
| 2016-01-16|  259|
| 2016-01-17|  199|
| 2016-01-18|  198|
| 2016-01-19|  201|
| 2016-01-20|  185|
+-----------+-----+
only showing top 20 rows

In [12]:
# Popular pickup zones
from pyspark.sql.functions import round as spark_round
df.withColumn("pickup_lon", spark_round("pickup_longitude", 2)) \
  .withColumn("pickup_lat", spark_round("pickup_latitude", 2)) \
  .groupBy("pickup_lon", "pickup_lat") \
  .count() \
  .orderBy("count", ascending=False) \
  .show(5)

+----------+----------+-----+
|pickup_lon|pickup_lat|count|
+----------+----------+-----+
|    -73.99|     40.75| 2382|
|    -73.97|     40.76| 2342|
|    -73.98|     40.76| 2038|
|    -73.98|     40.75| 1884|
|    -73.99|     40.76| 1716|
+----------+----------+-----+
only showing top 5 rows